<div class="bg-white d-none d-none d-lg-block" id="firstDetails">
  <div class="container">
    <div class="col-md-12 border-bottom pb5 row">
      <div class="col-md-10">
        <span>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a class="mr10 ml10" href="tel:(903)8921999">(903) 892 1999</a>
        </span>
        <span class="bl-br">
          <i class="fa fa-map-marker mr10 ml10" aria-hidden="true"></i>
          <span class="mr10">
            1001 Sara Swamy Dr. #220, Sherman, TX 75090
          </span>
        </span>
        <span class="">
          <i class="fa fa-clock-o ml10 mr10" aria-hidden="true"></i>
          <span>
            Mon - Thu : 8am - 4pm &amp; Fri: 8am - noon
          </span>
        </span>
      </div>
      <div class="col-md-2 text-right">
        <span>
          <a href="javaScript:void(0)" target="_blank" aria-label="facebook">
            <i class="fa fa-facebook"></i></a>
        </span>
        <span class="bl-br mr10 ml10 pr10 pl10">
          <a href="javaScript:void(0)" target="_blank" aria-label="twitter">
            <i class="fa fa-twitter"></i></a>
        </span>
        <span class="border-right pr10">
          <a href="javaScript:void(0)" target="_blank" aria-label="google plus">
            <i class="fa fa-google-plus"></i></a>
        </span>
      </div>
    </div>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="assets\logo.png" class="d-block w-100" alt="..." />
    </a>
    <a #hamBurger id="offcanvas-toggler" class="d-lg-none d-xl-none" aria-label="Menu" href="javaScript:void(0)"
      (click)="openSideNav()"><i class="fa fa-bars" aria-hidden="true" title="Menu"></i></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/doctor-detail']" class="nav-link" routerLinkActive="active-link">Meet Dr.Vattam</a>
        </li>

        <li class="nav-item">
            <a [routerLink]="['/doctor-team']" class="nav-link" routerLinkActive="active-link">Doctor Team</a>
          </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="ourTeamMenuLink" [routerLink]="['/doctor-team']" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">
            Our Team
          </a>
          <div class="dropdown-menu staff-list" aria-labelledby="ourTeamMenuLink">
            <a [routerLink]="['/doctor-detail']" class="dropdown-item">Doctor Detail</a>
            <a [routerLink]="['/doctor-team']" class="dropdown-item">Doctor Team</a>
          </div>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="servicesMenuLink" [routerLink]="['/med-services']"
            routerLinkActive="active-link" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu services-list" aria-labelledby="servicesMenuLink">
            <ng-container *ngFor="let service of medicalServices">
              <a [routerLink]="['/med-services']" [queryParams]="{ selectedServiceId: service.id }"
                class="dropdown-item">{{service.serviceName}}</a>
            </ng-container>
          </div>
        </li>
        <!-- do not remove below commented code -->
        <!-- <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" id="servicesMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Forms
            </a>
            <div class="dropdown-menu services-list" aria-labelledby="servicesMenuLink">
              <li class="nav-item dropdown">
                  <a href="javaScript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javaScript:void(0)" class="dropdown-item subLink">Departments</a>
                  <div class="dropdown-menu subMenu">
                    <a href="javaScript:void(0)" class="dropdown-item">All Departments</a>
                    <a href="javaScript:void(0)" class="dropdown-item">Department Details</a>
                  </div>
              </li>
              
              <a href="javaScript:void(0)" class="dropdown-item">Doctors</a>
              <a href="javaScript:void(0)" class="dropdown-item">Locate Hospital</a>
              <a href="javaScript:void(0)" class="dropdown-item">FAQ</a>
              <a href="javaScript:void(0)" class="dropdown-item">Login/Register</a>
              <a href="javaScript:void(0)" class="dropdown-item">404 Page</a>
              <a href="javaScript:void(0)" class="dropdown-item">Coming Soon</a>
            </div>
          </li> -->

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/forms']" routerLinkActive="active-link">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active-link">Contact us</a>
        </li>
        <!-- <li class="nav-item">
        <button class="btn  btn-primary" type="button">Request Appointment</button>
    </li> -->
      </ul>
    </div>
  </div>
</nav>


<div id="mySidenav" #sideNav class="sidenav">
  <div class="btn-container">
  <a href="javascript:void(0)" class="closebtn" (click)="closeSideNav()">&times;</a>
</div>

<div class="links-container mt3">
    <ul class="list-group">
        <li class="list-group-item sidenav-links border-remove"  [routerLink]="['/home']" routerLinkActive="active-link" (click)="closeSideNav()">Home<span
          class="sr-only">(current)</span></li>
        <li class="list-group-item sidenav-links  border-remove"[routerLink]="['/meet-dr']" routerLinkActive="active-link"  (click)="closeSideNav()">Meet Dr.Vattam</li>
            <div id="accordion">
                <div class="headingOne">
                  <a data-toggle="collapse" class="collapsed" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Our Team <i id="chev-icon" class="fa pull-right"></i>
                  </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <ul class="list-group"> 
                    <li class="list-group-item sidenav-links border-remove" [routerLink]="['/doctor-detail']" (click)="closeSideNav()">Doctor Detail</li>
                    <li class="list-group-item sidenav-links border-0" [routerLink]="['/doctor-team']" (click)="closeSideNav()">Doctor Team</li>
                  </ul>
                </div>
              </div>
            </div>

            <div id="accordion2">
                <div class="headingOne">
                  <a data-toggle="collapse" class="collapsed sidenav-links" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    services  <i  id="chev-icon"  class="fa pull-right"></i>
                  </a>
                <div id="collapseTwo" class="collapse"  data-parent="#accordion2">
                  <ul class="list-group">
                      <ng-container *ngFor="let service of medicalServices; last as isLast">
                          <li class="list-group-item sidenav-links" (click)="closeSideNav()" [ngClass]="{ 'border-remove' : !isLast }" [routerLink]="['/med-services']" [queryParams]="{ selectedServiceId: service.id }">{{service.serviceName}}</li>
                        </ng-container>
                  </ul>
                </div>
              </div>
            </div>
        <li class="list-group-item sidenav-links"  [routerLink]="['/contact-us']" routerLinkActive="active-link" (click)="closeSideNav()">Contact us</li>
      </ul>
</div>
  
</div>