.bl-br {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.display-block {
  display: block;
}

a {
  color: black;
}

a:hover {
  color: #4593ff 
}

.active-link {
  color: #4593ff 
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #4593ff !important;
}

.nav-item:hover {
  color: #4593ff !important;
}

.nav-item {
  padding-right: 5px !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  /* margin-top: 0; */
  padding-top: 0;
  /* padding-bottom: 0; */
}

.dropdown-menu {
  margin-top: 0px;
  border-top: 3px solid #4593ff;
  border-radius: 0;
  min-width: 250px !important;
}
.dropdown-menu.show {
  display: none;
}

.services-list a:last-child,
.staff-list a:last-child {
  border-bottom: 0;
}

.services-list {
  height: 500px;
  overflow-y: auto;
}

.dropdown-item {
  line-height: normal;
  padding: 0.5rem 1rem;
  border-bottom: 1px dashed #d7d4d4;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #4593ff !important;
  padding-left: 20px;
  color: #fff;
}

.mobile-links:hover {
  background-color: #4593ff !important;
  color: #fff !important;
}

.show {
  padding-top: 0;
}

.navbar-custom {
  background-color: #ffff !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.btn-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.list-group-item {
 border : 0
}

.border-remove {
  border-bottom : 2px solid rgba(0,0,0,0.1);
}
.headingOne {
  position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom : 2px solid rgba(0,0,0,0.1);
}

.services-link {
  display: block;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-bottom : 1px solid rgba(0,0,0,0.1);
}
.headingOne:hover {
  color: #4593ff;
}

.list-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

/* .sidenav a:hover {
  color: #f1f1f1;
} */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #4593ff ;
  text-align: center;
  padding: 0 1rem;
  margin-top: 0.5rem
}


.subLink:after {
  font-family: "FontAwesome";
  content: " \f105";
  float: right;
}

.sidenav-links:hover {
  color :#4593ff 
}

.dropdown:hover > .subMenu {
  display: block;
  padding-top: 0;
}

.subMenu {
  top: 0%;
  left: 100%;
}
#chev-icon {
  color: #4593ff;
  font-size: 1.5em;
}

[data-toggle="collapse"] .fa:before {   
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.list-group-item:hover {
  cursor: pointer;
}
.headingOne:hover {
  cursor: pointer;
}
.child-link:last-child {
  border-bottom : 1px solid rgba(0,0,0,0.1); 
}