.bl-br {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.display-block {
  display: block;
}

.active-link {
  color: #4593ff !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #4593ff !important;
}

.nav-item:hover {
  color: #4593ff !important;
}

.nav-item {
  padding-right: 5px !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  /* margin-top: 0; */
  padding-top: 0;
  /* padding-bottom: 0; */
}

.dropdown-menu {
  margin-top: 0px;
  border-top: 3px solid #4593ff;
  border-radius: 0;
  min-width: 250px !important;
}

.services-list a:last-child,
.staff-list a:last-child {
  border-bottom: 0;
}

.dropdown-item {
  line-height: normal;
  padding: 0.5rem 1rem;
  border-bottom: 1px dashed #d7d4d4;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #4593ff !important;
  padding-left: 20px;
}

.show {
  padding-top: 0;
}

.navbar-custom {
  background-color: #ffff !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.subLink:after {
  font-family: "FontAwesome";
  content: " \f105";
  float: right;
}

.dropdown:hover > .subMenu {
  display: block;
  padding-top: 0;
}

.subMenu {
  top: 0%;
  left: 100%;
}
