<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 40px 0px;">
              <h2>Team</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 40px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/doctor-team">Our Team</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Doctor Team
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <ng-container *ngFor="let department of departments">
    <h5 class="text-center m-4">{{department.name}}</h5>
    <div class="icon2 "></div>
    <div class="text-center m-4">{{department.description}}</div>

    <div class="row images-container m-5">
      <div class="col-md-4 image-wrapper">
        <img class="img-fluid image" src="../../assets/doc_male1.jpg">
        <div class="description">
          <a class="color-white" href="/dr1-detail">
            <div class="jd_name">Dr. Johnathon Deo</div>
            <div class="jd_specialty">Medical Specialist</div>
          </a>
        </div>
      </div>
      <div class="col-md-4 image-wrapper">
        <img class="img-fluid image" src="../../assets/doc_female2.jpg">
        <div class="description">
          <a class="color-white" href="/dr1-detail">
            <div class="jd_name">Dr. Cheryl R.</div>
            <div class="jd_specialty">Medical Specialist</div>
          </a>
        </div>
      </div>
      <div class="col-md-4 image-wrapper">
        <img class="img-fluid image" src="../../assets/male2.jpg">
        <div class="description">
          <a class="color-white" href="/dr1-detail">
            <div class="jd_name">Dr. Juan V.</div>
            <div class="jd_specialty">Medical Specialist</div>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="container text-center mt30">
    <button type="button" class="btn btn-primary" (click)="contactNav()">Contact us</button>
</div>