<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 25px 0px;">
              <h2>Contact us</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 25px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact us
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <agm-map [zoom]="18" [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<div class="container mt30 mb30">
  <div class="col-md-12">
    <div class="col-md-12 text-center">
      <h3>Our Contact</h3>
    </div>
    <div class="col-md-12 text-center mt10 mb10">
      <img class="human-image img-fluid" src="../../../assets/icon4.png" />
    </div>
    <div class="col-md-12 text-center">
      <span>Following are our hours of Operation</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 row">
    <div class="col-lg-4 col-md-5 col-xs-12 text-center mb15">
      <img class="human-image img-fluid" src="../../../assets/img3.png" style="height: 330px;" />
    </div>
    <div class="col-lg-4 col-md-7 col-xs-12 mb15">
      <div class="bg-blue color-white" style="height: 330px">
        <h3 class="col-md-12" style="padding: 35px 10px;display: flex">
          <img src="../../assets/icon2.png" alt="hours" />
          <div class="pt10">Operating Hours</div>
        </h3>
        <div class="col-md-12 fw-600" style="padding: 5px 25px;display: flex;">
          <div>Monday - Thursday:&nbsp;&nbsp;</div>
          <div>8:00 AM – 4:00 PM</div>
        </div>
        <div class="col-md-12 fw-600" style="padding: 20px 25px;display: flex;">
          <div>Friday:&nbsp;&nbsp; </div>
          <div>8:00 AM - noon</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 mb15">
      <div class="col-border" style="height: 330px;">
        <div class="col-md-12" style="padding: 15px 10px;display: flex">
          <img src="../../assets/icon23.png" alt="hours" />
          <div class="pt15 fw-600">1001 Sara Swamy Dr. STE 220
            Sherman, TX 75090</div>
        </div>
        <div class="col-md-12 fw-600">
          <img src="../../assets/icon24.png" alt="hours" />903 892-1999
        </div>
        <!-- <div class="col-md-12" style="padding: 15px 10px; display: flex">
          <img src="../../assets/icon25.png" alt="hours" />
          <div class="pt25" style="word-break: break-all">christine@texomapain.com</div>
        </div> -->
      </div>
    </div>
  </div>
</div>