<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 40px 0px;">
              <h2>Doctor Detail</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 40px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/doctor-team">Our Team</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Doctor Detail
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="col-md-12 row" style="margin-top: 50px;">
    <div class="col-md-4">
      <div class="col-md-12">
        <img src="../../assets/img7.jpg" alt="pic" style="width: 100%">
        <div class="jd_member_addon">
          <div style="padding:20px;border-bottom: 1px solid #ddd;">
            <div class="jd_member_name">Dr. Anjela Joy</div>
            <div class="jd_member_info">Ophthalmology, Pediatric, Surgery</div>
          </div>
          <div style="padding:20px;border-bottom: 1px solid #ddd;">
            <h3 class="jd_section_heading">Contact Information</h3>
            <div><i class="fa fa-phone mr10 fs20" aria-hidden="true"></i><span>01234567890, +1 800 833 9780</span></div>
            <div class="mt10"><i class="fa fa-envelope-o mr10 fs20" aria-hidden="true"></i><span style="word-break: break-all">angelajoy@jdmedical.com</span></div>
            <!-- <div class="jd_member_info">Ophthalmology, Pediatric, Surgery</div> -->
          </div>

        </div>

      </div>

    </div>
    <div class="col-md-8" style="padding-left: 30px">
      <div class="col-md-12">
        <h3>About Dr.Angela Joy</h3>
      </div>
      <div class="col-md-12" style="margin-top: 40px;">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          commodo consequat. Duis autem vel eum iriure tation dolore magna aliquam erat volutpat. Ut wisi enim ad minim
          veniam, quis nostrud exerci tation ullamcorper suscipit</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          commodo consequat. Duis autem vel eum iriure tation dolore magna aliquam erat volutpat. Ut wisi enim ad minim
          veniam, quis nostrud exerci tation ullamcorper suscipit</p>
      </div>
      <div class="col-md-12 text-right">
        <p class="signature">Angela joy</p>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Specialty</strong></div>
          <div class="col-md-9">Ophthalmology, Pediatric, Surgery</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Degrees</strong></div>
          <div class="col-md-9">M.D. of Medicine</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Experience</strong></div>
          <div class="col-md-9">5 Year</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Training</strong></div>
          <div class="col-md-9">Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem investigationes demonstraverunt lectores legere me lius.</div>
        </div>
      </div>
    </div>
  </div>
</div>