<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 25px 0px;">
              <h2>Meet Dr. Vattam</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 25px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <!-- <li class="breadcrumb-item"><a href="/doctor-team">Our Team</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">
                  Dr. Vattam
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="col-md-12 row" style="margin-top: 50px;">
    <div class="col-md-4 mb30">
      <div class="col-md-12">
        <img src="../../assets/Dr.Srinath-sm.jpg" alt="pic" style="width: 100%">
        <div class="jd_member_addon">
          <div style="padding:20px;border-bottom: 1px solid #ddd;">
            <div class="jd_member_name">Dr. Sreenadha Vattam MD</div>
            <div class="jd_member_info">Board Certified in Pain Management</div>
              <div class="jd_member_info">Physical Medicine and Rehabilitation</div>

          </div>
          <div style="padding:20px;border-bottom: 1px solid #ddd;">
            <h3 class="jd_section_heading">Contact Information</h3>
            <div><i class="fa fa-phone mr10 fs20" aria-hidden="true"></i><span>(903) 892 1999</span></div>
            <div class="mt10" style="display: flex;"><i class="fa fa-map-marker mr10 fs20" aria-hidden="true"></i>
              <div style="word-break: break-word"> 1001 Sara Swamy Dr. #220, Sherman, TX 75090 </div></div>
            <!-- <div class="jd_member_info">Ophthalmology, Pediatric, Surgery</div> -->
          </div>

        </div>

      </div>

    </div>
    <div class="col-md-8" style="padding-left: 30px">
      <div class="col-md-12">
        <h3>About Dr. Vattam</h3>
      </div>
      <div class="col-md-12" style="margin-top: 40px;">
        <p>Dr. Vattam received his Medical School training in Kurnool, India where he trained as a General Surgeon.</p> 

          <p>He transitioned to the United States in 2001 where he completed his Physical Medicine and Rehabilitation certification at New York Medical College and the Metropolitan Hospital Center in Harlem, New York City, NY.</p>
          
          <p>Dr. Vattam relocated to Dallas, TX in 2006 where he worked as Assistant Professor for Parkland/UT Southwestern, and completed additional Fellowship training in Anesthesiology and Pain Management.  He is currently board certified in both Physical Medicine and Rehabilitation and Pain Medicine by the American Board of PMR.</p>
          
          <p>During the last decade, Dr. Vattam has proudly served the community of Sherman, TX and beyond. Utilizing his skills as a Pain Interventionist, Dr. Vattam is helping people suffering from pain reach their goals of becoming less dependent on pain medication and more functional in their daily lives.</p>
          
          <p>Dr. Vattam enjoys spending time with his three sons, traveling and watching basketball games.
          </p>        
      </div>
      <div class="col-md-12 text-right">
        <p class="signature">Vattam</p>
      </div>
      <!-- <div class="col-md-12">
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Specialty</strong></div>
          <div class="col-md-9">Ophthalmology, Pediatric, Surgery</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Degrees</strong></div>
          <div class="col-md-9">M.D. of Medicine</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Experience</strong></div>
          <div class="col-md-9">5 Year</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Training</strong></div>
          <div class="col-md-9">Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem
            investigationes demonstraverunt lectores legere me lius.</div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container text-center mt30">
    <button type="button" class="btn btn-primary" (click)="contactNav()">Contact us</button>
</div>