<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 40px 0px;">
              <h2>Forms</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 40px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/forms">Forms</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt30 mb30">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Form Name</th>
        <th scope="col">Link to download Form</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>New Patient</td>
        <td>Download link</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Return Patient</td>
        <td>Download link</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Medical</td>
        <td>Download link</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container text-center mt30">
    <button type="button" class="btn btn-primary" (click)="contactNav()">Contact us</button>
</div>