<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 25px 0px;">
              <h2>Forms</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 25px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/forms">Forms</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt30 mb30">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Form Name</th>
        <th scope="col">Link to download Form</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>PATIENT REGISTRATION FORM</td>
        <td>
          <p><a href="../../assets/PATIENT REGISTRATION FORM.docx" role="button"
              aria-label="Click here to download template file">Click here</a> to download file.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Medical Records - Use or Disclosure</td>
        <td>
          <p><a href="../../assets/Medical Records - Use or Disclosure.docx" role="button"
              aria-label="Click here to download template file">Click here</a> to download file.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>INTAKE FORM</td>
        <td>
          <p><a href="../../assets/INTAKE FORM.docx" role="button"
              aria-label="Click here to download template file">Click here</a> to download file.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>HIPPAA-PRIVACY PRACTICE NOTICE</td>
        <td>
          <p><a href="../../assets/HIPPAA-PRIVACY PRACTICE NOTICE 01-24-10.docx" role="button"
              aria-label="Click here to download template file">Click here</a> to download file.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>FINANCIAL POLICY</td>
        <td>
          <p><a href="../../assets/FINANCIAL POLICY 01-20-10.docx" role="button"
              aria-label="Click here to download template file">Click here</a> to download file.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>CONSENT AND AGREEMENT FOR OPIOID PRESCRIPTION</td>
        <td>
          <p><a href="../../assets/CONSENT AND AGREEMENT FOR OPIOID PRESCRIPTION.docx" role="button"
              aria-label="Click here to download template file">Click here</a> to download file.</p>
        </td>
      </tr>
      <tr>
          <th scope="row">7</th>
          <td>CONSENT FOR TREATMENT</td>
          <td>
            <p><a href="../../assets/CONSENT FOR TREATMENT.docx" role="button"
                aria-label="Click here to download template file">Click here</a> to download file.</p>
          </td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Download All Forms</td>
            <td>
              <p><a href="../../assets/All Forms.zip" role="button"
                  aria-label="Click here to download template file">Click here</a> to download file.</p>
            </td>
          </tr>
    </tbody>
  </table>
</div>

<div class="container text-center mt30">
  <button type="button" class="btn btn-primary" (click)="contactNav()">Contact us</button>
</div>