<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 25px 0px;">
              <h2>Meet Dr.Vattam</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 25px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Meet Dr.Vattam
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt30 mb30">
  <div class="col-md-12">
    <div class="col-md-12 text-center">
      <h3>Welcome to JD Medical</h3>
    </div>
    <div class="col-md-12 text-center mt10 mb10">
      <img class="human-image img-fluid" src="../../../assets/icon4.png" />
    </div>
    <div class="col-md-12 text-center">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
        ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. </span>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <img src="../../assets/img2.jpg" alt="img">
  </div>
</div>

<div class="about-area">
  <div class="container color-white">
    <div class="col-md-12 row">
      <div class="col-md-6" style="background: #a578ff; padding: 20px">
        <div class="col-md-12">
          <h3>Who We Are</h3>
        </div>
        <div class="col-md-12" style="margin-top: 30px;margin-bottom: 25px">
          <h4>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</h4>
        </div>
        <div class="col-md-12 mb10">
          Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore.
        </div>
      </div>
      <div class="col-md-6" style="background: #4593ff; padding: 20px;">
        <div class="col-md-12">
          <h3>What We Do</h3>
        </div>
        <div class="col-md-12" style="margin-top: 30px;margin-bottom: 25px">
          <h4>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo</h4>
        </div>
        <div class="col-md-12" style="padding: 15px 10px;display: flex">
          <img src="../../assets/icon26.png" alt="hours" style="height: 30px;" />
          <div class="pt5 pl10" style="word-break: break-all">Etharums ser quidem rerum facilis dolores nemis omnis
            fugats</div>
        </div>
        <div class="col-md-12 mb10" style="padding: 15px 10px;display: flex">
          <img src="../../assets/icon27.png" alt="hours" style="height: 30px;" />
          <div class="pl10" style="word-break: break-all">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur necessitatibus placeat numquam</div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container mt30 mb30">
  <div class="col-md-12">
    <div class="col-md-12 text-center">
      <h3>Achievements</h3>
    </div>
    <div class="col-md-12 text-center mt10 mb10">
      <img class="human-image img-fluid" src="../../../assets/icon4.png" />
    </div>
    <div class="col-md-12 text-center">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis
        ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. </span>
    </div>
  </div>
</div>

<div class="container mb30">
  <div class="row">
    <div *ngFor="let program of programs" class="col-md-6 col-lg-3">
      <div class="card mt-3 mr-2" style="padding: 20px;">
        <div class="col-md-12 text-center">
          <img src="{{program.path}}" alt="icon">
        </div>
        <div class="col-md-12 text-center">{{program.title}}</div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt30">
    <button type="button" class="btn btn-primary" (click)="contactNav()">Contact us</button>
</div>