<div class="mt-5">
    <div class="row">
        <div class="col-md-5 image-container">
            <img class="human-image img-fluid" src="../../../assets/img3.png">
        </div>
        <div class="col-md-7 description">
            <div class="description-content">
                <h5>Why We Are The Best?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus
                    sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis
                    accumsan ipsum.</p>
                <div class="description-grid">
                    <div class="description-grid-items">
                        <div class="icon"></div>
                        <h6>Free Medical Councelling</h6>
                    </div>
                    <div class="description-grid-items">
                        <div class="icon"></div>
                        <h6>Well Experienced</h6>
                    </div>
                    <div class="description-grid-items">
                        <div class="icon"></div>
                        <h6>Cashless Payment</h6>
                    </div>
                    <div class="description-grid-items">
                        <div class="icon"></div>
                        <h6>Emergency Departments</h6>
                    </div>
                    <div class="description-grid-items">
                        <div class="icon"></div>
                        <h6>Empaneled Corporates</h6>
                    </div>
                    <div class="description-grid-items">
                        <div class="icon"></div>
                        <h6>Quality & Accreditation</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>