<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
          <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="padding: 25px 0px;">
              <h2>Dr. Nocerini</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right" style="padding: 25px 0px;">
              <ol class="breadcrumb float-right">
                <span>You are here: &nbsp;</span>
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <!-- <li class="breadcrumb-item"><a href="/doctor-team">Our Team</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">
                  Dr. Nocerini
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="col-md-12 row" style="margin-top: 50px;">
    <div class="col-md-4 mb30">
      <div class="col-md-12">
        <img src="../../assets/Dr.Nocerini.jpg" alt="pic" style="width: 100%">
        <div class="jd_member_addon">
          <div style="padding:20px;border-bottom: 1px solid #ddd;">
            <div class="jd_member_name">Dr. Nocerini</div>
            <div class="jd_member_info">Board Certified in Pain Management</div>
              <div class="jd_member_info">Board Certified in Anesthesiology</div>
          </div>
          <div style="padding:20px;border-bottom: 1px solid #ddd;">
              <h3 class="jd_section_heading">Contact Information</h3>
              <div><i class="fa fa-phone mr10 fs20" aria-hidden="true"></i><span>(903) 892 1999</span></div>
              <div class="mt10" style="display: flex;"><i class="fa fa-map-marker mr10 fs20" aria-hidden="true"></i>
                <div style="word-break: break-word"> 1001 Sara Swamy Dr. #220, Sherman, TX 75090 </div></div>
              <!-- <div class="jd_member_info">Ophthalmology, Pediatric, Surgery</div> -->
            </div>

        </div>

      </div>

    </div>
    <div class="col-md-8" style="padding-left: 30px">
      <div class="col-md-12">
        <h3>About Dr. Nocerini</h3>
      </div>
      <div class="col-md-12" style="margin-top: 40px;">
        <p>Dr. Nocerini received his MD degree at Temple University in Philadelphia, PA. He completed his residency
          training in Anesthesiology and Pain Management at Parkland/UT Southwestern in Dallas, TX. He continued with
          additional fellowship training in Pain Management at Parkland/UT Southwestern. He is board certified in both
          Anesthesiology and Pain Medicine by the American Board of Anesthesiology. Prior to his training in
          Anesthesiology and Pain Management, he completed a residency in Emergency Medicine, became board certified,
          and practiced Emergency Medicine for over ten years.</p>
      </div>
      <div class="col-md-12 text-right">
        <p class="signature">Nocerini</p>
      </div>
      <!-- <div class="col-md-12">
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Specialty</strong></div>
          <div class="col-md-9">Ophthalmology, Pediatric, Surgery</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Degrees</strong></div>
          <div class="col-md-9">M.D. of Medicine</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Experience</strong></div>
          <div class="col-md-9">5 Year</div>
        </div>
        <div class="col-md-12 row" style="border-top: 1px solid #ddd;padding: 15px 0px">
          <div class="col-md-3" style="padding-left: 0px"><strong>Training</strong></div>
          <div class="col-md-9">Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem
            investigationes demonstraverunt lectores legere me lius.</div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container text-center mt30">
  <button type="button" class="btn btn-primary" (click)="contactNav()">Contact us</button>
</div>